@section Canonical
{
    <link rel="canonical" href="http://www.coolcatcampers.co.uk/Information/Bertha" />
}
@{
    ViewBag.Title = "Cool Cat Campers - Bertha";
}
<h1>Bertha</h1>
<div class="information-bertha">
    <p>
        Since they were first built in 1950 VW campervans have gone through several different
        incarnations. Bertha is a 1979 “late bay” model, which is easier to drive, more
        reliable and more comfortable than the earlier models
    </p>
    <img src="../../Content/Images/Bertha03.jpg" alt="Bertha" />
    <img src="../../Content/Images/BerthaRoofInterior.jpg" alt="Bertha Roof Interior" />
    <p>
        Bertha is a 6 berth Super Viking camper van. She has masses of space inside thanks
        to her clever lay out. She has 4 beds in the pop top and 2 in the main body of the
        van. She also has stacks of storage space. She is fully equipped with a fridge,
        a cooker and extractor fan, a sink with running water and 240v electrics for all
        of your gadgets.
    </p>
    <p>
        Bertha is right hand drive with a standard 1.6 litre engine which means although
        she is not the fastest, she is easy to drive and comfortable to travel in. She is
        professionally maintained by a VW camper van expert to ensure she is in tip top
        condition mechanically.
    </p>
</div>
