@section Canonical
{
    <link rel="canonical" href="http://www.coolcatcampers.co.uk/Information/BookingAndAvailability" />
}
@{
    ViewBag.Title = "Cool Cat Campers - Booking and Availability";
}
<h1>Booking & Availability</h1>
<h2>
    What are the booking periods?</h2>
<ul>
    <li>A week is a 7 night booking for collection on Friday and return the following Friday.
    </li>
    <li>A 3 night weekend break is for collection on Friday and return on Monday. </li>
    <li>A 4 night mid week break is for collection on Monday and return on Friday. </li>
    <li>The campervan can be collected at any time after 2pm on first day of your booking
        and dropped off by 11 am on your last day. It is sometimes possible to vary these
        times if we don’t have other bookings on those days, so if this is not convenient
        we will try to assist you if we can. </li>
</ul>
<h2>
    Ok - how much will it cost?</h2>
<p>
    Prices are detailed in the table. You will see we are slightly cheaper than most
    companies, even though we offer more in the way of space, comfort, facilities and
    options.
</p>
@Html.Partial("_RatesChart")
<p>
    Please contact us if you would like to discuss different lengths of booking.
    <p>
    </p>
    <b>SPECIAL OFFER: 10% DISCOUNT ON BOOKINGS OF TWO WEEKS OR MORE.</b>
</p>
<h2>
    Sounds great - how do I book?!
</h2>
<p>
    <b>ONLINE BOOKING AND AVAILABILITY SEARCH COMING SOON.</b>
</p>
<p>
    If you would like to make an enquiry or a booking please phone Victoria on the catphone
    on 07763 207761 or email <a href="mailto:coolcatcampers@outlook.com">coolcatcampers@outlook.com</a>
</p>
<p>
    We ask for a £100 non refundable deposit which is payable on booking. The balance
    of the booking will be payable no later than 21 days before your holiday. You can pay by 
    internet banking, over the phone, by paypal or cheque but please be aware a booking is not confirmed
    until payment has cleared.
    </p>
    <p> Please note our insurers require that we ask for a £500 bond on each booking. This is a standard 
    condition for campervan hire. It can be paid by internet banking, credit or debit card, paypal, cash or cheque but 
    the payment must be cleared before the hire can take place. It will be refunded on return of Bertha less any deductions for damage or late return. 
</p>
