@section Canonical
{
    <link rel="canonical" href="http://www.coolcatcampers.co.uk/Information/ContactUs" />
}
@{
    ViewBag.Title = "Cool Cat Campers - Contact Us";
}
<h1>Contact Us</h1>
<div class="information-contact-us">
<p>
    Please call the catphone on 07763 207761 or email us at <a href="mailto:coolcatcampers@outlook.com">coolcatcampers@outlook.com</a>
</p>
    <img src="../../Content/Images/TorAndThurston.jpg" alt="Tor with Thurston" />
    <p>
        Victoria, with our own camper 'Thurston'.
    </p>
    </div>