@section Canonical
{
    <link rel="canonical" href="http://www.coolcatcampers.co.uk/Information/Extras" />
}
@{
    ViewBag.Title = "Cool Cat Campers - Extras";
}
<h1>Extras</h1>
<p>
    We can also provide the following (prices per booking, regardless of length):
</p>
<ul>
    <li>Food and drink - contact us to discuss your requirements </li>
    <li>Bedding hire - quality sleeping bags, pillows, pillow cases, extra blankets and
        towels - £10 per person </li>
    <li>Large drive away awning hire with interior tent which can sleep 4 people - £30 </li>
    <li>Re-usable environmentally friendly barbecue hire with charcoal - £10 </li>
    <li>Solar shower - Cost price to us £5- you can keep it! </li>
    <li>Environmentally friendly camping toilet and accessories - Cost price to us £20 -
        you can keep it! </li>
    <li>Toilet tent hire £10 </li>
    <li>Sat nav hire - £20 </li>
    <li>Portable DVD player hire - £20 </li>
    <li>Bike rack hire - free </li>
    <li>Air bed hire for awning - free </li>
    <li>Wind break hire- free </li>
    If there is anything else which could make your holiday perfect please contact us and we will make every effort to obtain it!
</ul>
