@section Canonical
{
    <link rel="canonical" href="http://www.coolcatcampers.co.uk/Information/FrequentlyAskedQuestions" />
}
@{
    ViewBag.Title = "Cool Cat Campers - FAQ's";
}
<h1>Frequenlty Asked Questions</h1>
<h3>
    Who can drive the campervan?
</h3>
<p>
    The driver must be aged between 25 and 75 years and have no more than 6 points on
    their driving licence. If this does not describe you please contact us as we may
    be able to help but will have to discuss with our insurance company. The driver’s
    licence number should be provided on booking and this will be checked with the DVLA.
</p>
<h3>
    Do you provide insurance?
</h3>
<p>
    Yes, the hire cost includes fully comprehensive insurance at no additional charge.
    Also included is full breakdown cover, although we hope that won’t be necessary!
</p>
<h3>
    Can more than one person drive the campervan?
</h3>
<p>
    Yes, our insurance allows for two drivers, providing they both meet the above criteria. 
    Additional drivers can be added, if you would like to arrange this please phone us before booking to get a quote.
</p>
<h3>
    Can we bring our dog?
</h3>
<p>
    Yes! Despite cats being cooler than dogs you can bring your well behaved mutt with
    you.
</p>
<h3>
    What do we need to bring with us?
</h3>
<p>
    Just clothes, toiletries, food and drink, sleeping bags , towels and a sense of
    adventure!
</p>
<p>
    The campervan has a gas cooker and grill (we will not charge you for gas) and a
    sink.
</p>
<p>
    All of the following are included in the price:
</p>
<p>
    Plates, cups, glasses, cutlery, pans, corkscrew, washing up and cleaning equipment,
    cushions, folding chairs for outside the campervan, bottled drinking water, cooking
    oil, basic kitchen supplies, interior lights, torches, toys and games for kids,
    maps, guidebooks and cook books.
</p>
<p>
    There are lots of extras we can provide to make your holiday perfect- please see
    the extras page for details.
</p>
