@section Canonical
{
    <link rel="canonical" href="http://www.coolcatcampers.co.uk/Information/HolidaysAndFestivals" />
}
@{
    ViewBag.Title = "Cool Cat Campers - Holidays and Festivals";
}
<div class="information-holidays-and-festivals">
    <h1>Holidays</h1>
    <p>
        We can provide anything you need to make your holiday as comfortable and luxurious
        you want- please see the “extras” page. Contact us about providing champagne, luxury
        food hampers, quality bedding, DVD player and music to play you on your way. Unlike
        some other hire companies we do not impose a limit on how many miles you can travel,
        the whole point of a campervan is that you can go exactly where you please when
        you feel like it. If you don’t fancy waking up at the beach listening to the waves
        one morning (although we don’t think it’s ever possible to get tired of that!),
        you can go to the mountains for the fresh air, or to any of beautiful Britain’s
        amazing countryside for some peace and quiet.
    </p>
    <h1>Festivals</h1>
    <p>
        VW Campervans are the ultimate way to go to festivals. Not only can you stay warm
        and dry when all around you tents are floating away in the mud, you have masses
        more space, somewhere to keep your beer cold, cooking facilities, and you usually
        get to sleep in a dedicated campervan area away from all the noisy first time festival
        teenagers! We go to festivals ourselves so can offer a unique service- speak to
        us about bringing Bertha to the festival for you. You can arrive at the festival
        to a set up, fully equipped campervan. All you need to do is put on your wellies
        and get ready to party!</P>

         
    
    <img src="../../Content/Images/Mudfest01.jpg" alt="Mudfest" />
    <img src="../../Content/Images/Mudfest02.jpg" alt="Mudfest" />
    <p>GLASTONBURY BOOKINGS. </P>
        <p>
        We have two different options available for Glastonbury.  The hire period for the whole festival
        is for up to 8 nights between Monday 23rd June to Tuesday 1st July.  If you want to drive Bertha yourself 
        the cost will be £750. We will also be offering a set up package, complete with a campervan pass, for £950 
        (the campervan pass is £85 plus booking fee, and will include us driving and setting up at the site. 
        We are able to do this as we are going to Glastonbury ourselves in our own campervan!).</p>

</div>
