@section Canonical
{
    <link rel="canonical" href="http://www.coolcatcampers.co.uk/Information/Tariff" />
}
@{
    ViewBag.Title = "Cool Cat Campers - Tariff";
}
<h1>Tariff</h1>
<div class="information-tariff">
    <p>
        These are the 2014 prices for Bertha.
    </p>
    @Html.Partial("_RatesChart")
</div>
