@section Canonical
{
    <link rel="canonical" href="http://www.coolcatcampers.co.uk/Information/TermsAndConditions" />
}
@{
    ViewBag.Title = "Cool Cat Campers - Terms and Conditions";
}
<h1>Terms & Conditions</h1>
<p>
</p>
