<div class="information-tariff">
    <table>
        <tr>
            <th>
                2014 prices
            </th>
            <th>
                Weekly rate
            </th>
            <th>
                3 day weekend/4 day week
            </th>
        </tr>
        <tr>
            <td>
                January
            </td>
            <td>
                £400
            </td>
            <td>
                £250
            </td>
        </tr>
        <tr>
            <td>
                February
            </td>
            <td>
                £425
            </td>
            <td>
                £260
            </td>
        </tr>
        <tr>
            <td>
                March
            </td>
            <td>
                £450
            </td>
            <td>
                £280
            </td>
        </tr>
        <tr>
            <td>
                April
            </td>
            <td>
                £475
            </td>
            <td>
                £300
            </td>
        </tr>
        <tr>
            <td>
                May
            </td>
            <td>
                £500
            </td>
            <td>
                £310
            </td>
        </tr>
        <tr>
            <td>
                June*
            </td>
            <td>
                £550
            </td>
            <td>
                £350
            </td>
        </tr>
        <tr>
            <td>
                July
            </td>
            <td>
                £580
            </td>
            <td>
                £350
            </td>
        </tr>
        <tr>
            <td>
                August*
            </td>
            <td>
                £580
            </td>
            <td>
                £375
            </td>
        </tr>
        <tr>
            <td>
                September
            </td>
            <td>
                £550
            </td>
            <td>
                £325
            </td>
        </tr>
        <tr>
            <td>
                October
            </td>
            <td>
                £475
            </td>
            <td>
                £290
            </td>
        </tr>
        <tr>
            <td>
                November
            </td>
            <td>
                £400
            </td>
            <td>
                £250
            </td>
        </tr>
        <tr>
            <td>
                December
            </td>
            <td>
                £400
            </td>
            <td>
                £250
            </td>
        </tr>
    </table>
    <p>
        * Week commencing 23rd June 2014 is Glastonbury week so outside of our usual rates.
    </p>
    <p>
        Please see the Festivals page for details. </P>
        <p> Please contact us for prices for bookings starting in the week commencing 18th August 2014.</p>
</div>
