@model BusConductor.UI.ViewModels.Home.IndexViewModel
@section Canonical
{
    <link rel="canonical" href="http://www.coolcatcampers.co.uk/vw-camper-hire-manchester" />
}
@{
    ViewBag.Title = "Cool Cat Campers - Classic VW Camper Hire in Manchester";
}
<h1>
    Welcome to Cool Cat Campers - Classic VW Camper Hire!</h1>
<div class="home-index">
    <img src="../../Content/Images/Bertha02.jpg" alt="Bertha" />
   @* <div class="feed">
        <h2>Latest blog posts</h2>
        @foreach (var blogPost in Model.BlogPosts)
        {
            <h3>
                <a href="@blogPost.Url" >@blogPost.Title</a>
                </h3>
            <p>
                @blogPost.Content</p>
        }
    </div>*@
@*    <h2 class="contact">
        Call now on 07763 207761 or email us at <a href="mailto:coolcatcampers@outlook.com">
            coolcatcampers@outlook.com</a></h2>*@
    <h2 class="contact">
        Sorry, Cool Cat Campers is no longer trading. </h2>
    <p>
        Despite a successful year and many happy customers, we have decided not to continue with Cool Cat Campers. We aplogise if you have come
        to this site to make a booking. Please try http://www.camperbug.co.uk or one of the other rental companies in the area.
    </p>
</div>
