@model BusConductor.UI.ViewModels.Booking.CompletedViewModel

@{
    ViewBag.Title = "Cool Cat Campers - Booking Completed";
}

<h1>Completed</h1>

Thank you for your booking. Your booking number is @Model.BookingNumber. We will contact you soon to confirm details.
