@{
    ViewBag.Title = "Cool Cat Campers - Contact Us";
}
<h1>Contact Us</h1>
<div class="contact-index">
    <div class="main-inner">
    <img src="/Content/Images/Map.jpg" alt="Map" class="map" />
        <div class="details">
            <div class="details-headings">
                Address:
            </div>
            <div class="details-content">
                Peaky Campers<br />
                3 Purple Street<br />
                Greenville<br />
                Blueshire<br />
                M1 1AA
            </div>
            <div class="details-headings">
                Phone:
            </div>
            <div class="details-content">
                07777 777777
            </div>
            <div class="details-headings">
                Email:
            </div>
            <div class="details-content">
                info@peakycampers.co.uk
            </div>
        </div>
        </div>
</div>